body{
   background-color:#664d00;
}
#box1{
   padding:5px 10px;
   border: solid black;
   background-color:	#99ccff;
}
#box2{
   padding:5px 10px;
   border: solid black;
   background-color:	#99ccff;
}
#box3{
   padding:5px 10px;
   border: solid black;
   background-color:	#99ccff;
}
#box4{
   padding:5px 10px;
   border: solid black;
   background-color:	#99ccff;
}
#box5{
   padding:5px 10px;
   border: solid black;
   background-color:	#99ccff;
}
#box6{
   padding:5px 10px;
   border: solid black;
   background-color:	#99ccff;
}
#box7{
   padding:5px 10px;
   border: solid black;
   background-color:	#99ccff;
}
